// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$warm_gray: #AEA79F;
$ash: #878787;

// Purples
$aubergine: #4F01B2;
$purple: #762572;
$light_aubergine: #7204FE;
$mid_aubergine: #6901ED;
$dark_aubergine: #2C0164;

// Reds
$red: #c7162b;

// Oranges
$orange: #9005D5;

// Yellows
$yellow: #f99b11;

// Greens
$green: #0e8420;

// Blues
$blue: #19B6EE;
$linkblue: #007aa6;
$darkblue: #335280;


// Semantic colors
$primary_accent_bg_color: $orange;
$primary_accent_fg_color: $white;
$secondary_accent_bg_color: $light_aubergine;
$secondary_accent_fg_color: $white;
